<nz-page-header class="header">
  <nz-page-header-title>
    Organisation Name
  </nz-page-header-title>
  <nz-page-header-subtitle>Some quote can be here</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-button-group nzSize="default">
      <button nz-button nzType="primary"><span nz-icon nzType="usergroup-add" nzTheme="outline"></span>Invite</button>
      <button nz-button nzType="text"><span nz-icon nzType="setting" nzTheme="outline"></span>Settings</button>
      <button nz-button nzType="text"><span nz-icon nzType="question-circle" nzTheme="outline"></span>FAQ</button>
    </nz-button-group>
    <nz-badge nzDot>
      <nz-avatar nzText="IB" [nzShape]="'square'" style="background-color: #40a9ff; margin-right: 0"></nz-avatar>
    </nz-badge>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="10">
      <nz-descriptions-item nzTitle="Company" [nzSpan]="3">Name LLC</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Date" [nzSpan]="2">2023-02-15</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Purpose" [nzSpan]="3">Creating example</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Developer" [nzSpan]="2">Front-End</nz-descriptions-item>
    </nz-descriptions>
  </nz-page-header-content>
</nz-page-header>
